<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="TwitterHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="TwitterSearchHttpBinidng">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="ThumbalizrHttpBinding">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint
        address="http://twitter.com"
        binding="webHttpBinding"
        bindingConfiguration="TwitterHttpBinding"
        behaviorConfiguration="WebHttp"
        contract="DigiFlare.DigiTweet.DataAccess.ITwitterClient" />
      <endpoint
        address="http://search.twitter.com"
        binding="webHttpBinding"
        bindingConfiguration="TwitterHttpBinding"
        behaviorConfiguration="WebHttp"
        contract="DigiFlare.DigiTweet.DataAccess.ITwitterSearchClient" />
      <endpoint
        address="http://api.thumbalizr.com"
        binding="webHttpBinding"
        bindingConfiguration="ThumbalizrHttpBinding"
        behaviorConfiguration="WebHttp"
        contract="DigiFlare.DigiTweet.DataAccess.IThumbalizrClient" />
    </client>

  </system.serviceModel>
</configuration>